/* general utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.main {
  padding: 0 50px;
  flex-direction: column;
  justify-content: center;
}


/* nav bar */

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  justify-content: space-between;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 1px 10px #ccc;
}

.logo {
  width: 106px;
  background-position: center;
  background: black;
  padding: 20px;
}

.logo img {
  display: block;
  width: 66px;
}

.nav-icons a {
  text-decoration: none;
  color: #f42;
  padding: 16px;
  border-left: #eee solid 1px;
}

.mag {
  text-decoration: none;
  color: #aaa;
}

/* cover section */

.cover {
  color: #fff;
  margin-top: 65px;
  flex-direction: column;
  padding-bottom: 40px;
}

.cover a {
  color: #fff;
  text-decoration: none;
}

.banner {
  width: 100%;
  min-height: 30vh;
  position: relative;
  padding-top: 120px;
  margin: 5px;
  background-size: cover;
  background-position: 50%;
  background-image: url(../assets/banner1.jpg);
}

.gradient-black {
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  background-size: 100% 100%;
  background-position: center;
  background-image: url(../assets/gradient-black.png);
  z-index: 1;
}

.cover-text {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding: 14px 12px;
}

.gradient-red {
  background-image: url(../assets/gradient-red.png);
}

/* latest news section */

.title {
  margin: 0 0 24px;
}

.title a {
  text-decoration: none;
  color: #ff4422;
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin: 10px;
}

.title a:hover {
  color: #000;
}

.news-text {
  padding-bottom: 10px;
  padding-left: 13px;
}

.news-text a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.news-text a:hover {
  color: #ff4422;
}

.news-text p a,
.news-text p {
  color: #ccc;
}

.latest-news {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.news-article {
  display: flex;
  margin-left: 10px;
  padding-bottom: 10px;
}

.news-img {
  background-image: url(../assets/latest01.jpg);
  background-size: cover;
  background-position: 50%;
  width: 75px;
  height: 75px;
  padding: 10px;
}

/* Latst Funding*/

.funding-item {
  margin-right: 10px;
  max-width: 100%;
  position: relative;
}

.funding-item img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
}

.latest-funding {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 40px;
}

.latest-funding a {
  text-decoration: none;
  color: #ff4422;
  line-height: 25px;
}

.fund-title {
  background-color: #ff4422;
  color: #fff;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
}

.fund-info {
  background-color: rgba(255, 68, 34, 0.08);
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  color: #000;
}

.fund-link {
  background-color: #fffaf8;
}

.icon-link {
  padding: 5px 20px;
  color: #000;
}

.icon-link a {
  margin: 5px;
  line-height: 10px;
  color: #000;
}

.horizontal-line {
  margin-top: 10px;
  border-top: 0.5px solid #ff4422;
  opacity: 25%;
}

.fund-text {
  font-family: helvetica;
  font-size: 12px;
  padding: 20px;
}

.fund-text a {
  color: #ccc;
}

/* recommended articles section */

.recomended-articles {
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
}

.article-latest {
  display: flex;
}

.article-link {
  display: flex;
  flex-direction: column;
}

.article-img {
  position: relative;
  background-image: url(../assets/hard-fork-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 490px;
  width: 100%;
}

.cover-text,
.cover-text a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.article-title {
  background-color: #fff4f2;
  color: #ff4422;
  padding: 10px 14px 0;
}

.article-title a {
  color: #ff4422;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.article-img-small img {
  width: 96px;
  height: 96px;
}

.link-list {
  padding: 6px 0 6px 19px;
  line-height: 1.7;
  color: #ff4422;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.link-list li {
  border-bottom: solid 0.5px #ddd;
  padding: 5px 0;
}

.link-list a {
  text-decoration: none;
  color: #555;
}

/* Last Deals*/

.last-deals {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.deals {
  display: flex;
  padding: 8px;
}

.deals-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.all-deals a {
  text-decoration: none;
  color: #f42;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.all-deals a:hover {
  color: #000;
}

.deals-img a img {
  width: 75px;
  height: 75px;
}

.deals-text {
  padding-left: 8px;
}

.deals-text a {
  text-decoration: none;
  line-height: 1.7;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.deals-text a:hover {
  color: #f42;
}

.discount {
  text-decoration: line-through;
  line-height: 1.7;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-right: 5px;
}

/* footer */
.social-media-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131313;
  padding: 2.5rem 0;
}

.links a {
  text-decoration: none;
  color: #aaa;
  font-family: Shentox, sans-serif;
}

.links {
  margin-top: 21px;
}

.i {
  color: #fff;
  background-color: #333;
  border-radius: 100%;
  border: solid 2px #333;
  padding: 10px;
}

.i:hover {
  background-color: #000;
}

.disclaimer {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  background-color: #000;
}

.disclaimer p {
  /* display: block; */
  color: #aaa;
  height: 58px;
  width: 408px;
  padding: 0 85px;
  text-align: center;
}

/* .disclaimer img{
  height: 9px;
} */

.stack-logo {
  text-align: center;
  height: 20px;
  width: 70px;
}

.tnw-logo {
  height: 9px;
}

/* media queries */
@media only screen and (max-width: 750px) {
  .nav-bar-black,
  .nav-bar-white,
  .gradient-red,
  .triangle {
    display: none;
  }
}

@media only screen and (min-width: 750px) {

  /* Nav Bar*/

  .fa-bars,
  .nav-icons a{
    display: none;
  }

  .nav-bar-black,
  .nav-bar-white, {
  border: solid 1px red;
  }

  /* Cover Section */
  .gradient-red {
    display: none;
  }

  .cover {
    display: grid;
    grid-template-areas:
       'first first second'
       'first first third';
    grid-gap: 8px;
  }

  .banner{
    margin: 0;
  }

  .banner-01 {
    grid-area: first;
  }

  .banner-02 {
    grid-area: second;
  }

  .banner-03 {
    grid-area: third;
  }
}
